//
// App Launcher
// --------------------------------------------------

@import "../components/patternfly/components/font-awesome/less/font-awesome.less";
@import "../components/patternfly/components/bootstrap/less/variables.less";
@import "../components/patternfly/components/bootstrap/less/mixins.less";
@import "../components/patternfly/components/bootstrap/less/utilities.less";
@import "../components/patternfly/components/bootstrap/less/responsive-utilities.less";
@import "../components/patternfly/components/bootstrap/less/component-animations.less";
@import "../components/patternfly/less/variables.less";
@import "../components/patternfly/less/mixins.less";
@import "../components/patternfly/less/fonts.less";
@import "variables.less";

.navbar-nav {
  @import "../components/patternfly/components/bootstrap/less/dropdowns.less";
  @import "../components/patternfly/less/dropdowns.less";
}

.context {
  @import "../components/patternfly/components/bootstrap/less/panels.less";
  @import "../components/patternfly/components/bootstrap/less/popovers.less";
  @import "../components/patternfly/less/panels.less";
  @import "../components/patternfly/less/popovers.less";
  @import "../components/patternfly/less/infotip.less";
  font-family: @font-family-base;
  line-height: 1;
  list-style: none;
  a {
    font-family: @font-family-base !important; // Satellite override
    text-decoration: none;
    text-shadow: none !important; // Satellite override
  }
  > a {
    color: @navbar-pf-color;
    display: block;
    line-height: 1;
    position: relative;
    text-shadow: none;
    @media (max-width: @screen-xs-max) {
      padding: 10px 20px;
    }
    &:hover, &:focus {
      color: @navbar-pf-active-color;
    }
  }
  .dropdown-menu{
    &:after {
      display: none !important; // for Satellite
    }
    a {
      font-size: @font-size-base !important; // for Satellite
    }
  }
  &.open {
    > a {
      &, &:hover, &:focus {
        background-color: @navbar-pf-navbar-nav-active-bg-color;
        color: @navbar-pf-active-color;
      }
    }
  }
  @media (min-width: @grid-float-breakpoint) {
    float: left;
    > a {
      background-color: @navbar-pf-navbar-primary-context-bg-color-stop;
      border-bottom: 1px solid @navbar-pf-navbar-primary-context-border-color;
      border-right: 1px solid @navbar-pf-navbar-primary-context-border-color;
      border-top: 1px solid @navbar-pf-navbar-primary-context-border-top-color;
      font-size: @font-size-large;
      font-weight: 600;
      margin-top: -1px;
      padding: 14px 20px;
      #gradient > .vertical(@navbar-pf-navbar-primary-context-bg-color-start, @navbar-pf-navbar-primary-context-bg-color-stop);
      .header + .navbar & { // for CloudForms
        margin-top: 0;
        padding-bottom: 13px; 
        padding-top: 13px;
      }
      .persist-header & { // for Satellite
        border-bottom: 0;
        border-left: 1px solid @navbar-pf-navbar-primary-context-border-color;
        padding-bottom: 9px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
      }
      &:hover {
        background-color: @navbar-pf-navbar-primary-context-hover-bg-color-stop;
        border-bottom-color: @navbar-pf-navbar-primary-context-hover-border-color;
        border-right-color: @navbar-pf-navbar-primary-context-hover-border-color;
        border-top-color: @navbar-pf-navbar-primary-context-hover-border-top-color;
        #gradient > .vertical(@navbar-pf-navbar-primary-context-hover-bg-color-start, @navbar-pf-navbar-primary-context-hover-bg-color-stop);
      }
    }
    &.open > a {
      background-color: @navbar-pf-navbar-primary-context-active-bg-color-stop;
      border-bottom-color: @navbar-pf-navbar-primary-context-active-border-color;
      border-right-color: @navbar-pf-navbar-primary-context-active-border-right-color;
      border-top-color: @navbar-pf-navbar-primary-context-active-border-top-color;
      #gradient > .vertical(@navbar-pf-navbar-primary-context-active-bg-color-start, @navbar-pf-navbar-primary-context-active-bg-color-stop);
    }
  }
  .infotip {
    .box-shadow(none);
    margin-top: 0;
    @media (min-width: @grid-float-breakpoint) {
      .box-shadow(0 6px 12px rgba(0, 0, 0, 0.4));
      margin-top: 10px;
    }
    min-width: 0;
    @media (max-width: @screen-xs-max) {
      background-color: transparent !important;
      border: 0;
      float: none;
      position: static;
      width: auto;
    }
    > .arrow {
      left: 27px !important;
      &:after {
        border-bottom-color: @btn-default-bg-img-start !important;
      }
      @media (max-width: @screen-xs-max) {
        display: none;
      }
    }
    .panel-body {
      padding: 6px 0;
      .nav {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
      }
      .nav-pills > li {
        position: relative;
        &.active > a {
          background: @dropdown-link-active-bg !important;
          border-color: @dropdown-link-active-border-color !important;
          color: #fff;
        }
        &:hover {
          > a {
            background: @dropdown-link-hover-bg;
            border-color: @dropdown-link-hover-border-color;
          }
        }
        > a {
          border-radius: none;
          border-bottom: 1px solid transparent;
          border-radius: 0;
          border-top: 1px solid transparent;
          color: @text-color;
          display: block;
          line-height: @line-height-base;
          padding: 1px 10px 1px 22px;
          @media (max-width: @screen-xs-max) {
            padding-left: 36px;
            padding-right: 20px;
          }
          white-space: nowrap;
        }
      }
      .nav-stacked > li {
        float: none;
        + li {
          margin-top: 0;
        }
      }
    }
    .panel-group {
      margin-bottom: 0;
      .panel {
        border-width: 1px 0 0;
        .box-shadow(none);
        overflow: visible;
        &:first-child {
          border-top-width: 0;
        }
      }
      .panel-heading {
        padding: 7px 10px;
        @media (max-width: @screen-xs-max) {
          padding-left: 24px;
          padding-right: 20px;
        }
      }
      .panel-title {
        position: relative;
        > a[data-toggle] {
          display: block;
          font-size: @font-size-base;
          white-space: nowrap;
          &:before {
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
            text-align: center;
            width: 12px;
          }
          &.collapsed:before {
            //margin-left: 3px;
          }
        }
      }
    }
    .popover {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
      font-size: @font-size-small;
      dl {
        margin-bottom: 0;
        margin-top: 0;
        dd {
          margin-left: 5px;
        }
        dt {
          font-weight: 600;
        }
      }
    }
  }
  @media (max-width: @screen-xs-max) {
    .with-icon {
      font-size: @font-size-base;
      .fa {
        font-size: @font-size-large;
        margin-right: 1px;
        position: relative;
        top: 1px;
      }
    }
  }
}