//
// App Launcher
// --------------------------------------------------

.context {
  .infotip {
    .box-shadow(0 6px 12px rgba(0, 0, 0, 0.4));
    min-width: 0;
    @media (max-width: @screen-xs-max) {
      background-color: transparent !important;
    }
    .arrow {
      left: 27px;
      &:after {
        border-bottom-color: @btn-default-bg-img-start;
      }
      @media (max-width: @screen-xs-max) {
        display: none;
      }
    }
    .panel-body {
      padding: 6px 0;
      .nav-pills > li {
        position: relative;
        &.active > a {
          background: @dropdown-link-active-bg !important;
          border-color: @dropdown-link-active-border-color !important;
          color: #fff;
        }
        &:hover {
          > a {
            background: @dropdown-link-hover-bg;
            border-color: @dropdown-link-hover-border-color;
          }
        }
        > a {
          border-radius: none;
          border-bottom: 1px solid transparent;
          border-radius: 0;
          border-top: 1px solid transparent;
          color: @text-color;
          padding: 1px 10px 1px 22px;
          @media (max-width: @screen-xs-max) {
            padding-left: 36px;
            padding-right: 20px;
          }
          white-space: nowrap;
        }
      }
      .nav-stacked > li + li {
        margin-top: 0;
      }
    }
    .panel-group {
      margin-bottom: 0;
      .panel {
        border-width: 1px 0 0;
        .box-shadow(none);
        overflow: visible;
        &:first-child {
          border-top-width: 0;
        }
      }
      .panel-heading {
        padding: 7px 10px;
        @media (max-width: @screen-xs-max) {
          padding-left: 24px;
          padding-right: 20px;
        }
      }
      .panel-title {
        position: relative;
        > a[data-toggle] {
          display: block;
          font-size: @font-size-base;
          white-space: nowrap;
          &:before {
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
            text-align: center;
            width: 12px;
          }
          &.collapsed:before {
            //margin-left: 3px;
          }
        }
      }
    }
    .popover {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
      font-size: @font-size-small;
      dl {
        margin-bottom: 0;
        dd {
          margin-left: 5px;
        }
        dt {
          font-weight: 600;
        }
      }
    }
  }
  @media (max-width: @screen-xs-max) {
    .with-icon {
      .fa {
        font-size: @font-size-large;
        margin-right: 1px;
        position: relative;
        top: 1px;
      }
    }
  }
}